@font-face {
  font-family: 'copperplate';
  src: url('Copperplate Regular.ttf');
}

* {
  font-family: 'copperplate', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  height: 140px;
}
.navspacer {
  width: 100%;
}
.navmenu {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  width: 100%;
  justify-content: space-around;
  flex-flow: row nowrap;
  padding-left: 20px;
  padding-right: 20px;
}
.navmenu ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.navmenu li {
  padding: 20px;
}
.navmenu ul li a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}
.logo {
  height: 100px;
}
.overlay {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
}
#showcase {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100%;
}
.showitem {
  z-index: -1;
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
}
.title {
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  z-index: 100;
}
.title h1 {
  color: white;
  font-size: 4.5em;
  line-height: 1em;
}
